  <!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="~/css/site.css" />
   </head>
   <body>
       @RenderBody()

       <H1>Welcome</H1>
       <ul>
           <li><h2>Home</h2></li>
           <li><h2>Shows</h2></li>
           <li><h2>Gallery</h2></li>
           <li><h2>Details</h2>li>
           <li><h2>About</h2>li>
       </ul>
   </body>
</html>
