  <!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="~/css/site.css" />
       <H1>Welcome</H1>
   </head>
   <body>
       <nav class="main-nav">
           <ul class="a">
               <li><a class="active" href="/">Home</a></li>
               <li><a href="/Shows">Shows</a></li>
               <li><a href="/Gallery">Gallery</a></li>
               <li><a href="/Details">Details</a></li>
               <li><a href="/About">About</a></li>
           </ul>
       </nav>



       @RenderBody()


   </body>
</html>
