  <!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        main.nav {
            outline-width:  5px;
            outline-color: green;
        }
    </style>
   </head>
   <body>
     <h1>Theater</h1>
     <nav class="main-nav">
       <a class="item" href="/">Home</a>
       <a class="item" href="/Shows">Shows</a>
       <a class="item" href="/Gallery">Gallery</a>
       <a class="item" href="/Details">Details</a>
       <a class="item" href="/About">About</a>
     </nav>



     @RenderBody()


   </body>
</html>
