  <!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        main.nav {
            outline-width:  5px;
            outline-color: green;
        }
    </style>
   </head>
   <body>
    <nav class="main-nav"><h3>
           <a class="active" href="/">Home</a>
           <a href="/Shows">Shows</a>
           <a href="/Gallery">Gallery</a>
           <a href="/Details">Details</a>
           <a href="/About">About</a>
    </h3></nav>+
       <H1>Welcome</H1>


       @RenderBody()


   </body>
</html>
