<p> Neem alstublieft contact op met ons via onze mail of het formulier hieronder</p>

<div class="container">
  <form METHOD="post" ACTION="mailto:mijnnaam@gmail.com">
    <fieldset>
      <legend>Formulier</legend>

      <div>
        <label for="fname">Voornaam:</label>
        <INPUT TYPE="text" NAME="jouwnaam" SIZE="30" required>
      </div>

      <div>
        <label for="sname">Achternaam:</label>
        <INPUT TYPE="text" NAME="jouwnaam" SIZE="30" required>
      </div>

      <div>
        <label for="sex">Geslacht:</label>
        <INPUT TYPE="radio" NAME="geslacht" VALUE="man"> Vrouw:
        <INPUT TYPE="radio" NAME="geslacht" VALUE="vrouw">
      </div>

      <div>
        <label for="sex">Geslacht:</label>
        <INPUT TYPE="text" NAME="email" SIZE="30" placeholder="gmail.com" required>
      </div>

      <div>
        <label for="telephone">Telefoonnummer:</label>
        <INPUT TYPE="number" NAME="Telefoonnummer" SIZE="30" VALUE="+31 " required>
      </div>


      <div>
        <label for="reason">Reden:</label>
        <INPUT TYPE="checkbox" NAME="redencontact" VALUE="klacht"> Klacht:
        <INPUT TYPE="checkbox" NAME="redencontact" VALUE="reactie"> Reactie:
        <INPUT TYPE="checkbox" NAME="redencontact" VALUE="vraag"> Vraag:
      </div>

      <div>
        <label for="country">Land:</label>
        <INPUT TYPE="text" NAME="email" SIZE="30" placeholder="Nederland" required>
      </div>

      <div>
        <label for="Message">Bericht:</label>
        <TEXTAREA NAME="bericht" ROWS="8" COLS="40" required></TEXTAREA>
      </div>

      <div>
        <label for="country_code">Country code:</label>
        <input type="number" name="country_code" pattern="[A-Za-z]{3}" title="Three letter country code" required>
      </div>

      <div>
        <INPUT TYPE="submit" VALUE="Verzenden" NAME="verzendbericht">
      </div>
    </fieldset>
  </form>
  </div>


