@using SchoolTemplate.Database;
@model List<Toneelstuk>
@{
  ViewData["Title"] = "Home Page";
}

<ul class="Shows">
  @foreach (Toneelstuk p in Model)
  {
    <li>
      <a href="/shows/@p.Id">@p.Naam</a>
    </li>
  }
</ul>





