<h2>Jesus Christ SuperStar</h2>
<div class="gallery">
  <a target="_blank" href="https://jesuschristmusical.nl/images/rockopera-verhaal.jpg">
    <img src="https://jesuschristmusical.nl/images/rockopera-verhaal.jpg" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Jesus Christ Superstar"</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.musicalweb.nl/wp-content/uploads/2015/12/jcs_2015_2.jpg">
    <img src="https://www.musicalweb.nl/wp-content/uploads/2015/12/jcs_2015_2.jpg" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Jesus Christ Superstar"</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.whatsonstage.com/s/wos-photos-production/142462.jpg">
    <img src="https://www.whatsonstage.com/s/wos-photos-production/142462.jpg" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Jesus Christ Superstar"</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://bsp-static.playbill.com/dims4/default/7d312fc/2147483647/crop/6000x3377%2B0%2B0/resize/970x546/quality/90/?url=http%3A%2F%2Fpb-asset-replication.s3.amazonaws.com%2Ff1%2Fb2%2F27d29680473993ecaabe0a6499f8%2Fnup-182408-0417.JPG">
    <img src="https://bsp-static.playbill.com/dims4/default/7d312fc/2147483647/crop/6000x3377%2B0%2B0/resize/970x546/quality/90/?url=http%3A%2F%2Fpb-asset-replication.s3.amazonaws.com%2Ff1%2Fb2%2F27d29680473993ecaabe0a6499f8%2Fnup-182408-0417.JPG" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Jesus Christ Superstar"</div>
</div>

<h2>Phantom of the Opera</h2>
<div class="gallery">
  <a target="_blank" href="https://image.newyork.nl/wp-content/uploads/2014/12/The-Phantom-of-the-Opera-on-Broadway-Tickets-Sailing.jpeg">
    <img src="https://image.newyork.nl/wp-content/uploads/2014/12/The-Phantom-of-the-Opera-on-Broadway-Tickets-Sailing.jpeg" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Phantom of the Opera"</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQj8rvySxz5_jPZJILxUMQ75qjEHgcAS7RujA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQj8rvySxz5_jPZJILxUMQ75qjEHgcAS7RujA&usqp=CAU" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Phantom of the Opera"</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://media.timeout.com/images/105636177/image.jpg">
    <img src="https://media.timeout.com/images/105636177/image.jpg" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Phantom of the Opera"</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRladDtKJQprzvH_dauS8J8_YI71zvPBrZv9g&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRladDtKJQprzvH_dauS8J8_YI71zvPBrZv9g&usqp=CAU" width="800" height="600">
  </a>
  <div class="desc">Een foto van de musical "Phantom of the Opera"</div>
</div>
