@using SchoolTemplate.Database;
@model List<Toneelstuk>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <ul>
    @foreach (Toneelstuk p in Model)
    {
      <li>
        @p.Naam @p.Beschrijving euro
      </li>
    }
  </ul>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
