@using SchoolTemplate.Database;
@model List<Toneelstuk>
@{
  ViewData["Title"] = "Home Page";
}
<body><ul class="Shows">

  @foreach (Toneelstuk p in Model)
  {
    <li>
      <a href="/ShowsDetail/@p.Id">@p.Naam</a>
    </li>
  }

</ul>
</body>



