<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <H1>Welcome</H1>
</head>
<body>
  <nav class="main-nav">
    <ul>
      <li><a class="item" href="/">Home</a></li>
      <li><a class="item" href="/Shows">Shows</a></li>
      <li>a class="item" href="/Gallery">Gallery</a></li>
      <li>a class="item" href="/Details">Details</a></li>
      <li>a class="item" href="/About">About</a></li>
    </ul>
  </nav>




  @RenderBody()


</body>
</html>
