<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <H1>Welcome</H1>
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Shows</a></li>
            <li><a href="">Gallery</a></li>
            <li><a class="active" href="">Details</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>



    @RenderBody()


</body>
</html>
