<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <H1>Welcome</H1>
</head>
<body>
  <nav class="main-nav">
    <a class="item" href="/">Home</a>
    <a class="item" href="/Shows">Shows</a>
    <a class="item" href="/Gallery">Gallery</a>
    <a class="item" href="/Details">Details</a>
    <a class="item" href="/About">About</a>
  </nav>
 




  @RenderBody()


</body>
</html>
